#screen1__singer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.screen1__singer__img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}

#screen1__btn {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0px;
}
#screen1__btn a {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.screen1__btn__black {
  color: white;
  background-color: #222222;
}
.screen1__btn__white {
  background-color: #f7f7f7;
  color: black;
}
.screen1__btn__white span {
  margin-left: 3px;
  opacity: 0.6;
}

.screen1__songs {
  display: flex;
  margin: 15px 20px;
  padding: 7px;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.04);
  position: relative;
}
.screen1__songs-album {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  margin-right: 15px;
}
.screen1__songs-data {
  font-size: 18px;
}
.screen1__songs-singer {
  font-size: 13px;
  opacity: 0.5;
  margin-bottom: 3px;
}
.screen1__songs i {
  position: absolute;
  left: 210px;
}

#screen1__status-bar {
  background-color: #222222;
  border-radius: 30px;
  margin: 0px 10px;
  padding: 13px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.screen1__status-bar__btns {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
